.heading{
    margin-top: 18px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
.main-language{
    background-color: white;
}

.services-p-1{
    font-size: 25px;
    font-weight: bold;
}
.services-p-2{
    font-size: 14px;
}
.services{
    margin: 10px;
}